.terms-conditions{
    padding: 8rem 0;
}

.terms-conditions__item{
    color: #0C0C0E;
    font-size: 2rem;
    font-weight: 700;
    line-height: 4rem; 
    letter-spacing: .02rem;
    margin-bottom: 1rem;
}